[submodule "spring-homebudget-rest-notify"]
	path = spring-homebudget-rest-notify
	url = ssh://git-codecommit.eu-west-1.amazonaws.com/v1/repos/spring-homebudget-rest-notify
[submodule "spring-homebudget-rest-users"]
	path = spring-homebudget-rest-users
	url = ssh://git-codecommit.eu-west-1.amazonaws.com/v1/repos/spring-homebudget-rest-users
[submodule "spring-homebudget-rest-stats"]
	path = spring-homebudget-rest-stats
	url = ssh://git-codecommit.eu-west-1.amazonaws.com/v1/repos/spring-homebudget-rest-stats
[submodule "spring-homebudget-rest-react"]
	path = spring-homebudget-rest-react
	url = ssh://git-codecommit.eu-west-1.amazonaws.com/v1/repos/spring-homebudget-rest-react
